<div class="gis_NavToolsDijit" >
    <div class="formContainer">
        <i title="Zoom In" data-dojo-attach-event="onClick:zoomIn" class="fa fa-search-plus fa-2x"></i>
        <i title="Zoom Out" data-dojo-attach-event="onClick:zoomOut" class="fa fa-search-minus fa-2x"></i>
        <i title="Full Extent" data-dojo-attach-event="onClick:fullExtent" class="fa fa-arrows-alt fa-2x"></i>
        <i title="Previous Extent" data-dojo-attach-event="onClick:prevExtent" class="fa fa-arrow-left fa-2x"></i>
        <i title="Next Extent" data-dojo-attach-event="onClick:nextExtent" class="fa fa-arrow-right fa-2x"></i>
        <i title="Pan" data-dojo-attach-event="onClick:pan" class="fa fa-hand-o-up fa-2x"></i>
        <i title="Deactivate Navigation Tool" data-dojo-attach-event="onClick:deactivate" class="fa fa-ban fa-2x" style="color:red"></i>
	<!--button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoominIcon',showLabel:true"
		data-dojo-attach-event="onClick:zoomIn">Zoom In</button>
	<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoomoutIcon',showLabel:true"
		data-dojo-attach-event="onClick:zoomOut">Zoom Out</button>
	<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoomfullextIcon',showLabel:true"
		data-dojo-attach-event="onClick:fullExtent">Full Extent</button>
	<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoomprevIcon',showLabel:true"
		data-dojo-attach-event="onClick:prevExtent">Prev Extent</button>
	<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoomnextIcon',showLabel:true"
		data-dojo-attach-event="onClick:nextExtent">Next Extent</button>
	<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'panIcon',showLabel:true"
		data-dojo-attach-event="onClick:pan">Pan</button>
	<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'deactivateIcon',showLabel:true"
		data-dojo-attach-event="onClick:deactivate">Deactivate</button-->
            
	</div>
</div>
